@define-color bg rgba(54, 54, 65, 0.9); 
@define-color white #F0EBDF;
@define-color red #BA1319;
@define-color orange #E1401e;

/* Interstellar colors */
/* is == interstellar */
@define-color is-black #080708;
@define-color is-darkBrown #7d3c16;
@define-color is-brown #c76a26;
@define-color is-lightBrown #e1a94e;

* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 12px;
	min-height: 20px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}


#workspaces {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0;
	border-radius: 0px 0px 12px 0px;
	background: @is-darkBrown;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @white;
	background: transparent;
	font-size: 16px;
}


#workspaces button.active {
	color: @is-lightBrown;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @is-brown;
}


#window {
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 0px 0px 8px 8px;
	color: @white;
	background: @is-darkBrown;
}


#battery {
	padding-left: 8px;
	padding-right: 8px;
	color: @white;
	background: @is-darkBrown;
}

#battery.great {
	color: #00FF00;
}

#battery.good {
	color: @white;
}
#battery.warning {
	color: #FFAAAA; 
}

#battery.critical {
	color: #FF0000;
}

#network {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: @white;
	background: @is-darkBrown;
}

#pulseaudio {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 12px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px 0px 0px 12px;
	transition: none;
	color: @white;
	background: @is-darkBrown;
}


#cpu {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: @white;
	background: @is-darkBrown;
}

#memory {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: @white;
	background: @is-darkBrown;
}

#clock {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 8px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: @white;
	background: @is-darkBrown;
}
